.contact-header {
  position: relative;
  height: 800px;
  background-image: linear-gradient(
    180deg,
    var(--clr-white),
    var(--clr-primary-4)
  );
}
.contact-header h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 20vw; */
  padding-top: 60vw;
  color: var(--clr-primary-1);
}

.contact-image {
  border: solid 3px var(--clr-primary-5);
  position: absolute;
  top: 41%;
  left: 23%;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}
.contact-icon {
  margin-top: 25vw;
}
.email-icon {
  position: absolute;
  top: 70%;
  left: 41%;
  width: 65px;
  height: 65px;
  color: var(--clr-primary-5);
  filter: grayscale(95%);
}
